<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramdomfunctions"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PalindromFragment"
            android:label="@string/title_activity_palindrom" >
        </activity>
        <activity
            android:name=".UserListFragment"
            android:label="@string/title_activity_user_list_fragment" >
        </activity>
        <activity
            android:name=".UserDetailFragment"
            android:label="@string/title_activity_user_detail_fragment" >
        </activity>
        <activity
            android:name=".UserDetailActivity"
            android:label="@string/title_activity_user_detail"
            android:parentActivityName=".UserListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ramdomfunctions.UserListActivity" />
        </activity>
        <activity
            android:name=".AxolotlFragment"
            android:label="@string/title_activity_axolotl_fragment" >
        </activity>
        <activity
            android:name=".AxolotlActivity"
            android:label="@string/title_activity_axolotl" >
        </activity>
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_list" >
        </activity>
        <activity
            android:name=".PalindromActivity"
            android:label="@string/title_activity_palindrom" >
        </activity>
        <activity
            android:name=".DrawerFragment"
            android:label="@string/title_activity_drawer_fragment" >
        </activity>
    </application>

</manifest>
